#openlayers-map {
        height: 50%;
        width: 100%;
      }
#input {
    text-align:center;
    width: 50%;
    margin: 3em auto;
}

#nlp_input {
    width: 100%;
}

#parse {
    margin: 0 auto;
}
